{% macro option(name, value) %}{% if value is defined and value %}{{ name }}={{ value }}
{% endif %}{% endmacro %}
[Unit]
{{ option('Description', mount.description | default('automount ' ~ (mount.where | mandatory))) -}}
{{ option('After', mount.after) -}}
{{ option('Requires', mount.requires) -}}
{{ option('Wants', mount.wants) -}}
{{ option('Before', mount.before)- }}
# if set to true, it will take care of adding the correct 'After' and 'Wants'
# for the appropriate mount type
{{ option('DefaultDependencies', mount.default_dependencies | default(True)) }}

[Automount]
{{ option('Where', mount.where | mandatory) }}

[Install]
WantedBy=multi-user.target
